.tabs {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
	    position: absolute;
	    top: 3em;
        }

        .tabs label {
            order: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .1rem .5rem;
            margin: 0;
            cursor: pointer
        }

        .tabs .tab {
            order: 9;
            flex-grow: 1;
            width: 100%;
            height: 100rem;
            display: none;
            background: #fff;
            padding: .4rem
        }

        .tabs input[type="radio"] {
            display: none
        }

        .tabs input[type="radio"]:checked+label {
            background: #fff
        }

        .tabs input[type="radio"]:checked+label+.tab {
            display: block
        }

        body {
            background: #dcdcdc;
            min-height: 100vh;
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
            font-weight: 300;
            line-height: 1.5;
            font-size: 100%;
            display: flex
        }

        pre {
            padding: .2em;
            margin: 0 0 1em;
	    background-color: #FFF7F0;
border-radius: 3px;
border: 1px solid #CCCCCC;
        }

        /* ================= */
        #searchInputArea {
            display: flex;
            position: absolute;
            right: 50px;
            top: 5px;
        }

        #searchInput {
            margin-left: 20px;
            border: 0px;
        }

        #searchInput:focus {
            outline: none;
        }

        #searchResultDlg {
            display: none;

            flex-direction: column;
            position: fixed;
            top: 50px;
            left: 100px;
            right: 100px;
            bottom: 50px;
            padding: 10px;
            background-color: #dcdcdc;
            overflow: auto;
            overscroll-behavior: contain
        }

        #searchResultDlgContent {
            display: grid;
            flex-direction: column;
            height: 100%;
            overflow: auto;
            overscroll-behavior: contain
        }

        #closeIcon {
            color: lightslategrey;
            font-size: 55px;
            display: block;
            position: fixed;
            top: 20px;
            right: 50px;
            cursor: pointer;
        }

        .resultBlock {
            width: 100%;
            border-bottom: 1px solid #000;
        }

        .resultBlock .tabName {
            font-size: 1.2em;
            font-weight: bold;
        }

        /* ================= */
